* {
    padding: 0;
    margin: 0;
    
  }
   
  body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
   
   
  /*
    AppBar
  */
  #hamburgerButton{
    min-width: 54px;
    min-height: 54px;
  }
  .app-bar {
    padding: 8px 16px;
    background-color: #5D3891;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.575);
  }
   
  .app-bar .app-bar__menu {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    color: #F5F5F5;
  }
   
  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__brand h1 {
    color: #F5F5F5;
    text-transform: uppercase;
    font-size: 22px;
    user-select: none;
  }
   
  .app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: #5D3891;
    overflow: hidden;
  }
   
  .app-bar .app-bar__navigation.open {
    left: 0;
  }
   
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: #F5F5F5;
    padding: 20px;
    margin-bottom: 5px;
    width: 100%;
  }
   
  /* Hero */
.hero {
  display: flex;
  align-items: center;
  height: 380px; 
  width: 100%;
  text-align: left;
  background-position: center;
  background:linear-gradient(rgba(0, 0, 0, 0.334), rgba(0, 0, 0, 0.603)), 
  url("../public/images/heros/hero-image_4.jpg") no-repeat center / cover;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
  margin: 0px 20px;
  
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.hero__tagline {
  color: #fff;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 300;
}
/* Skip to content */
.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
   top: 0;
}

  /*
    Main Content
  */

  /* Exolore */
  .explore__restaurant{
    width: 100%;
    margin: 0px auto;
    text-align: center;
  }
  .explore__label{
    font-size: 28px;
    color: #5D3891;
    margin-top: 44px;
    padding-top: 12px;
    margin-bottom: 0px;
  }
   
  main {
    flex: 1;
  }
   
  .content {
    margin: 0 auto;
    min-height: 100%;
  }
   

   
  /*
    restaurants
  */
    

  .restaurants {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
    padding: 32px;
  }
   
   
  /*
    restaurant Item
  */
   
  .restaurant-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
  }
   
  .restaurant-item__header {
    position: relative;
  }
   
  .restaurant-item .restaurant-item__header .restaurant-item__header__poster {
    width: 100%;
  }
   
  .restaurant-item .restaurant-item__header .restaurant-item__header__rating {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    left: 0;
    display: inline-block;
    background-color: black;
    color: white;
  }
   
  .restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
    margin-left: 10px;
  }
   
  .restaurant-item .restaurant-item__content {
    padding: 16px;
  }
   
  .restaurant-item .restaurant-item__content h3 {
    margin: 0 0 10px 0;
  }
   
  .restaurant-item .restaurant-item__content h3 a {
    color: #db0000;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
  }
   
  .restaurant-item .restaurant-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
   
   
  /*
    restaurant
  */
   
  .restaurant {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
  }

  .restaurant .restaurant__title {
    padding-bottom: 54px;
    font-size: 28px;
    color: #5D3891;
    
  }
   
  .restaurant .restaurant__poster {
    width: 100%;
    max-width: 800px;
  }
  
  .restaurant__information {
    padding-top: 36px;
    padding-bottom: 24px;
  }

  .restaurant__info {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .restaurant .restaurant__info h4 {
    padding-top: 12px;
    margin: 8px 0;
  }

  .restaurant__info__detail{
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-width: 800px;
  }
  .restaurant__overview h3{
    padding-top: 44px;
  }
  .restaurant__overview p{
    max-width: 800px;
  }

  /*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.content__heading{
  
  color: #5D3891;
  text-align: center;
    padding: 32px;
}
   
  /*
    Footer
  */
   
  footer {
    padding: 16px;
  }
   
  footer p {
    text-align: center;
    color: #aaaaaa;
    min-width: 54px;
    min-height: 54px;
  }
   
  footer p a {
    color: #db0000;
    text-decoration: none;
    padding: 14px;
  }

  #empty-content{
    text-align: center ;
  }